/* Cabeçalho */
a{
    width: 30vh;
    height: fit-content;
}
.logo{
    float: left;
    width: 100%;
    margin-left: 8%;
}

/* Container header */
.container-fluid{
    position: relative;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: auto;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* navbar opções*/
body{
    height: 100vh;
    box-sizing: border-box;
}

/* nav .menu{
    align-self: flex-end;
} */

ul{
    width: 60px;
}
span{
    color: #ae2a03;
    text-shadow: 2px 2px 2px #a32a08;
    margin-right: 3%;
    font-family:'Courier New', Courier, monospace
}

.nav-item{
    margin-top: 3%;
    text-align: center;
}
/*Vetores*/
.image{
    min-width: none;
    max-width: 80%;
}

/*Png | jpg*/
.nav-item img{
    min-width: none;
    max-width: 80%;
}

/*Sabores*/

.title-vitrine{
    width: auto;
    text-align: center;
    font-size: larger;
    color: black;
}

.row img{
    width: 30%;
    margin: 1%;
}

.container{
    text-align: center;
    vertical-align: middle;
}