/* Cabeçalho */
a{
    width: 30vh;
    height: fit-content;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 8%;
    border-radius: 50%; 
    width: 30vw;
}

/* Container header */
.container-fluid{
    position: relative;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: auto;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url("/images/SaboresVariados.jpg");
    background-position: center;
    background-clip: content-box;
}
/* Body */
body{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    background-color: #1c130d;
    display: block;
    overflow-x: hidden;
}
/* navbar opções*/

.menu{
    max-width: 6%;
    height: auto;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}


.divider{
    margin-top: 80%;
}

span{
    color: #ae2a03;
    text-shadow: 2px 2px 2px #a32a08;
    margin-right: 3%;
    font-family:'Courier New', Courier, monospace
}

.menu .nav-item{
    margin-top: 3%;
    text-align: center;
    vertical-align: middle;
}
/*Imagens*/

.icons{
    min-width: 1vw;
    max-width: 3vw;
}

/*Sabores*/

.title-vitrine{
    width: auto;
    text-align: center;
    font-size: larger;
    color: black;
}

.row img{
    width: 30%;
    margin: 1%;
}

.container{
    text-align: center;
    vertical-align: middle;
}